<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
<!--Template is working<br>-->
<!--{{name}} is from {{place}}-->
<h1>Welcome to my website</h1>
<form action='/analyze' method ='get'>
    <textarea name="text" style="width: 1502px; height: 181px;"></textarea>
    <input type="checkbox" name="removepunc">Remove Punctuations </br>
    <input type="checkbox" name="fullcaps">Uppercase </br>
    <input type="checkbox" name="newlineremover">New line Remover </br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover </br>
    <input type="checkbox" name="charcount">Character Counter </br>
    <button type='submit'>Analyze text</button>
</form>
</body>
</html>